* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Proxima";
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.hero {
  max-width: 1280px;
  min-height: 500px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}
.hero .hero-text {
  width: 420px;
  margin: 79.5px auto 0px auto;
  text-align: center;
}
.hero .hero-text h1 {
  font-family: "Proxima";
  font-size: 60px;
  color: #fff;
  margin-bottom: 35px;
}
.hero .hero-text p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 45px;
}
.hero .hero-text .read-more {
  margin: auto;
  width: 121px;
  height: 40px;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-around;
}
.hero .hero-text .read-more p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: #fff;
  margin: auto;
}

.promo-tours {
  max-width: 1280px;
  min-height: 304px;
  margin: -50px auto 0px auto;
  display: flex;
  justify-content: space-around;
  padding-left: 160px;
  padding-right: 160px;
}
.promo-tours .promo {
  height: 304px;
  width: 236px;
  background-color: salmon;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-tours .promo h2 {
  text-align: center;
  margin-top: 47px;
  font-family: "Proxima";
  color: #fff;
  font-size: 60px;
}
.promo-tours .promo h3 {
  text-align: center;
  font-family: "Proxima";
  color: #fff;
  margin-top: -10px;
  font-size: 30px;
}
.promo-tours .promo .promo-button {
  margin: 56px auto auto auto;
  border-radius: 30px;
  width: 121px;
  height: 40px;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-around;
}
.promo-tours .promo .promo-button a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: #fff;
  margin: auto;
}
.promo-tours #promo1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-01.jpg);
}
.promo-tours #promo2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-02.jpg);
}
.promo-tours #promo3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-03.jpg);
}

@media only screen and (max-width: 1051px) {
  .promo-tours {
    width: 236px;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -100px;
  }
}
.booking-form {
  height: 808px;
  max-width: 818px;
  margin: 40px auto 0px auto;
}
.booking-form h1 {
  font-family: "Proxima";
  font-size: 60px;
  color: black;
  margin-bottom: 35px;
}
.booking-form p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 20px;
}
.booking-form .booking-row {
  max-width: 818px;
  height: 78px;
  display: flex;
  justify-content: space-between;
}
.booking-form .booking-row img {
  margin-right: 20px;
}
.booking-form .booking-row input[type=text], .booking-form .booking-row div {
  max-width: 818px;
  height: 58px;
  border: #79ADDC solid 2px;
  margin-bottom: 20px;
  padding: 20px;
}
.booking-form .booking-row input[type=text] *, .booking-form .booking-row div * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.booking-form .booking-row .name, .booking-form .booking-row .country {
  min-width: 344px;
}
.booking-form .booking-row .email, .booking-form .booking-row .hotel {
  min-width: 453px;
}
.booking-form .booking-row .check-in-out {
  margin-top: -20px;
  margin-left: -35px;
  width: 200px;
  border: white solid 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.booking-form .booking-row .check-in-out-date {
  max-width: 693px;
  display: flex;
  justify-content: space-between;
}
.booking-form .booking-row .check-in-out-date p {
  margin-top: -4px;
  margin-left: -4px;
  margin-right: 600px;
}
.booking-form .booking-row .check-in-out-date img {
  width: 19px;
  margin-left: -40px;
}
.booking-form .booking-row .message {
  width: 100%;
  resize: both;
  overflow: auto;
}
.booking-form .booking-row label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-top: 16px;
}
.booking-form .booking-row .guests {
  display: flex;
}
.booking-form .booking-row .guests select {
  max-width: 103px;
  display: flex;
  justify-content: space-between;
  border: white solid 0px;
}
.booking-form .booking-row .guests select option {
  min-width: 103px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.booking-form .submit-button {
  max-width: 813px;
  height: 58px;
  border: #79ADDC solid 2px;
  border-radius: 40px;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-around;
}
.booking-form .submit-button p {
  align-self: center;
  color: #fff;
}

@media only screen and (max-width: 845px) {
  .booking-form {
    width: 460px;
  }
  .booking-form .booking-row {
    display: block;
    margin-bottom: 80px;
  }
  .booking-form .booking-row div {
    width: 460px;
  }
  .booking-form .booking-row .guests .dropdown {
    width: 300px;
  }
  .booking-form .message {
    width: 460px;
    margin-top: 150px;
  }
  .booking-form .submit-button {
    margin-top: 160px;
    width: 460px;
  }
}
nav {
  max-width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: #fff solid 2px;
}
nav p, nav a {
  font-family: "Gill Sans", sans-serif;
  color: #fff;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../img/logo-white.png);
}
nav .logo p {
  margin: auto;
  font-size: 20px;
}
nav .links {
  width: 500px;
  height: 42px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
nav .links a {
  text-decoration: none;
  size: 15px;
  margin: auto;
}
nav .links hr {
  height: 21px;
  width: 1px;
  border-color: #79ADDC;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  nav .logo {
    width: 0px;
  }
}
#black-nav {
  max-width: 980px;
  height: 60px;
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
}
#black-nav p, #black-nav a {
  font-family: "Gill Sans", sans-serif;
  color: black;
}
#black-nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../img/logo-black.png);
}
#black-nav .logo p {
  margin: auto;
  font-size: 20px;
}
#black-nav .links {
  width: 500px;
  height: 42px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
#black-nav .links a {
  text-decoration: none;
  size: 15px;
  margin: auto;
}
#black-nav .links hr {
  height: 21px;
  width: 1px;
  border-color: #79ADDC;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  #about-nav .logo {
    width: 0px;
  }
}
.about {
  max-width: 980px;
  margin: 90px auto 0px auto;
}
.about .about-top-section h1 {
  width: 171px;
  border-bottom: black solid 2px;
  font-size: 60px;
  font-family: "Proxima";
}
.about .about-top-section p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  padding-bottom: 95px;
}
.about .about-bottom-section {
  padding-bottom: 180px;
}
.about .about-bottom-section h3 {
  font-family: "Proxima";
  font-size: 40px;
  width: 255px;
  border-bottom: black solid 2px;
}
.about .about-bottom-section p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.about .about-bottom-section .client {
  max-width: 676px;
  min-height: 150px;
  display: flex;
  margin-bottom: 38px;
}
.about .about-bottom-section .client .client1-img {
  min-width: 260px;
  height: 150px;
  background-image: url(../../img/about-client-01.jpg);
  background-size: cover;
}
.about .about-bottom-section .client .client2-img {
  min-width: 260px;
  height: 150px;
  background-image: url(../../img/about-client-02.jpg);
  background-size: cover;
}
.about .about-bottom-section .client .client-quote {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 20px;
}
.about .about-bottom-section .client .client-quote p:last-of-type {
  margin-bottom: 25px;
}
.about .about-bottom-section .client .client-quote .client-name {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: -30px;
}
.about .about-bottom-section .client .client-quote .client-name p {
  font-family: "Proxima";
  font-size: 20px;
  color: #79ADDC;
}

@media only screen and (max-width: 1030px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -450px;
  }
}
@media only screen and (max-width: 600px) {
  .client-name {
    position: relative;
    margin-bottom: -30px;
  }
}
.tours-hero {
  max-width: 981px;
  min-height: 200px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tours-header.jpg);
  margin: 50px auto 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}
.tours-hero h1 {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 55px;
  text-align: center;
  font-family: Proxima;
  font-size: 60px;
  color: #fff;
}

.tours-menu {
  max-width: 1280px;
  min-height: 304px;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: space-around;
  padding-left: 160px;
  padding-right: 160px;
}
.tours-menu .tour {
  height: 304px;
  width: 236px;
  background-color: salmon;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tours-menu .tour h2 {
  text-align: center;
  margin-top: 47px;
  font-family: "Proxima";
  color: #fff;
  font-size: 60px;
}
.tours-menu .tour h3 {
  text-align: center;
  font-family: "Proxima";
  color: #fff;
  margin-top: -10px;
  font-size: 30px;
}
.tours-menu .tour .tour-button {
  margin: 56px auto auto auto;
  border-radius: 30px;
  width: 121px;
  height: 40px;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-around;
}
.tours-menu .tour .tour-button a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: #fff;
  margin: auto;
}
.tours-menu #tour1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-01.jpg);
}
.tours-menu #tour2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-02.jpg);
}
.tours-menu #tour3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-03.jpg);
}
.tours-menu #tour4 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-04.jpg);
}
.tours-menu #tour5 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-05.jpg);
}
.tours-menu #tour6 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-06.jpg);
}
.tours-menu #tour7 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-07.jpg);
}
.tours-menu #tour8 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-08.jpg);
}
.tours-menu #tour9 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-09.jpg);
}

@media only screen and (max-width: 1051px) {
  .tours-menu {
    width: 236px;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.tours-header {
  margin: 50px auto 0 auto;
  max-width: 981px;
  min-height: 413px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tours-header h1 {
  font-family: Proxima;
  font-size: 80px;
  color: #fff;
  margin-left: 30px;
  position: absolute;
}
.tours-header h2 {
  font-family: Proxima;
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 310px;
  padding-bottom: 210px;
}

.tours-sub-header {
  max-width: 1280px;
  min-height: 347px;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: space-around;
  padding-left: 130px;
  padding-right: 130px;
}
.tours-sub-header .tours-sub-photo {
  height: 347px;
  width: 298px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tours-days {
  max-width: 981px;
  margin: 50px auto 20px auto;
}
.tours-days h1 {
  width: 171px;
  border-bottom: black solid 2px;
  font-size: 60px;
  font-family: "Proxima";
}
.tours-days p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-top: 36px;
}

.book-now-button {
  margin: 56px auto 80px auto;
  border-radius: 30px;
  width: 121px;
  height: 40px;
  background-color: #79ADDC;
  display: flex;
  justify-content: space-around;
}
.book-now-button p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  margin: auto;
}

@media only screen and (max-width: 1220px) {
  .tours-sub-header {
    width: 236px;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
  .tours-sub-header .tours-sub-photo {
    margin-bottom: 20px;
  }

  .tours-header h2 {
    padding-left: 30px;
  }

  .tours-days h1 {
    padding-left: 20px;
  }
  .tours-days p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#israel-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-01.jpg);
}

#usa-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-02.jpg);
}

#australia-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-03.jpg);
}

#new-zealand-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-04.jpg);
}

#france-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-05.jpg);
}

#egypt-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-06.jpg);
}

#japan-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-07.jpg);
}

#canada-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-08.jpg);
}

#uae-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/tour-09.jpg);
}

#israel-photo-01 {
  background-image: url(../img/israel-tour-01.jpg);
}

#israel-photo-02 {
  background-image: url(../img/israel-tour-02.jpg);
}

#israel-photo-03 {
  background-image: url(../img/israel-tour-03.jpg);
}

#usa-photo-01 {
  background-image: url(../img/usa-tour-01.jpg);
}

#usa-photo-02 {
  background-image: url(../img/usa-tour-02.jpg);
}

#usa-photo-03 {
  background-image: url(../img/usa-tour-03.jpg);
}

#australia-photo-01 {
  background-image: url(../img/aus-tour-01.jpg);
}

#australia-photo-02 {
  background-image: url(../img/aus-tour-02.jpg);
}

#australia-photo-03 {
  background-image: url(../img/aus-tour-03.jpg);
}

#new-zealand-photo-01 {
  background-image: url(../img/nz-tour-01.jpg);
}

#new-zealand-photo-02 {
  background-image: url(../img/nz-tour-02.jpg);
}

#new-zealand-photo-03 {
  background-image: url(../img/nz-tour-03.jpg);
}

#france-photo-01 {
  background-image: url(../img/france-tour-01.jpg);
}

#france-photo-02 {
  background-image: url(../img/france-tour-02.jpg);
}

#france-photo-03 {
  background-image: url(../img/france-tour-03.jpg);
}

#egypt-photo-01 {
  background-image: url(../img/egypt-tour-01.jpg);
}

#egypt-photo-02 {
  background-image: url(../img/egypt-tour-02.jpg);
}

#egypt-photo-03 {
  background-image: url(../img/egypt-tour-03.jpg);
}

#japan-photo-01 {
  background-image: url(../img/japan-tour-01.jpg);
}

#japan-photo-02 {
  background-image: url(../img/japan-tour-02.jpg);
}

#japan-photo-03 {
  background-image: url(../img/japan-tour-03.jpg);
}

#canada-photo-01 {
  background-image: url(../img/canada-tour-01.jpg);
}

#canada-photo-02 {
  background-image: url(../img/canada-tour-02.jpg);
}

#canada-photo-03 {
  background-image: url(../img/canada-tour-03.jpg);
}

#uae-photo-01 {
  background-image: url(../img/uae-tour-01.jpg);
}

#uae-photo-02 {
  background-image: url(../img/uae-tour-02.jpg);
}

#uae-photo-03 {
  background-image: url(../img/uae-tour-03.jpg);
}

footer {
  height: 100px;
  max-width: 1280px;
  background-color: #79ADDC;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .footer-wrapper {
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper * {
  align-self: center;
}
footer .footer-wrapper #logo {
  height: 42px;
}
footer .footer-wrapper #socmed {
  height: 20px;
}
footer .footer-wrapper p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: #fff;
}

@media only screen and (max-width: 845px) {
  footer {
    margin-top: 500px;
    padding-left: 50px;
    padding-right: 50px;
  }
}