//header images

    //israel
    #israel-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-01.jpg);
    }

    //usa
    #usa-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-02.jpg);
    }

    //australia
    #australia-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-03.jpg);
    }

    //new zealand
    #new-zealand-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-04.jpg);
    }

    //france
    #france-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-05.jpg);
    }

    //egypt
    #egypt-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-06.jpg);
    }

    //japan
    #japan-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-07.jpg);
    }

    //canada
    #canada-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-08.jpg);
    }

    //uae
    #uae-header{
        background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tour-09.jpg);
    }








//sub header images

    //israel
    #israel-photo-01{
        background-image: url(../img/israel-tour-01.jpg);
    }

    #israel-photo-02{
        background-image: url(../img/israel-tour-02.jpg);
    }

    #israel-photo-03{
        background-image: url(../img/israel-tour-03.jpg);
    }


    //usa
    #usa-photo-01{
        background-image: url(../img/usa-tour-01.jpg);
    }

    #usa-photo-02{
        background-image: url(../img/usa-tour-02.jpg);
    }

    #usa-photo-03{
        background-image: url(../img/usa-tour-03.jpg);
    }

    
    
    //australia
    #australia-photo-01{
        background-image: url(../img/aus-tour-01.jpg);
        }
    
    #australia-photo-02{
        background-image: url(../img/aus-tour-02.jpg);
        }
    
    #australia-photo-03{
         background-image: url(../img/aus-tour-03.jpg);
        }



    //new-zealand
    #new-zealand-photo-01{
        background-image: url(../img/nz-tour-01.jpg);
        }
    
    #new-zealand-photo-02{
        background-image: url(../img/nz-tour-02.jpg);
        }
    
    #new-zealand-photo-03{
         background-image: url(../img/nz-tour-03.jpg);
        }



    //france
    #france-photo-01{
        background-image: url(../img/france-tour-01.jpg);
        }
    
    #france-photo-02{
        background-image: url(../img/france-tour-02.jpg);
        }
    
    #france-photo-03{
         background-image: url(../img/france-tour-03.jpg);
        }




    //egypt
    #egypt-photo-01{
        background-image: url(../img/egypt-tour-01.jpg);
        }
    
    #egypt-photo-02{
        background-image: url(../img/egypt-tour-02.jpg);
        }
    
    #egypt-photo-03{
         background-image: url(../img/egypt-tour-03.jpg);
        }



    //japan
    #japan-photo-01{
        background-image: url(../img/japan-tour-01.jpg);
        }
    
    #japan-photo-02{
        background-image: url(../img/japan-tour-02.jpg);
        }
    
    #japan-photo-03{
         background-image: url(../img/japan-tour-03.jpg);
        }




    //canada
    #canada-photo-01{
        background-image: url(../img/canada-tour-01.jpg);
        }
    
    #canada-photo-02{
        background-image: url(../img/canada-tour-02.jpg);
        }
    
    #canada-photo-03{
         background-image: url(../img/canada-tour-03.jpg);
        }




    
    //uae
    #uae-photo-01{
        background-image: url(../img/uae-tour-01.jpg);
        }
    
    #uae-photo-02{
        background-image: url(../img/uae-tour-02.jpg);
        }
    
    #uae-photo-03{
         background-image: url(../img/uae-tour-03.jpg);
        }

