.tours-header{
    margin: 50px auto 0 auto;
    max-width: 981px;
    min-height: 413px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1{
        font-family: Proxima;
        font-size: 80px;
        color: $white;
        margin-left: 30px;
        position: absolute;
    }

    h2{
        font-family: Proxima;
        font-size: 30px;
        color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 310px;
        padding-bottom: 210px;
    }
}


.tours-sub-header{
    max-width: 1280px;
    min-height: 347px;
    // background-color: pink;
    margin: 50px auto 0px auto;
    display: flex;
    justify-content: space-around;
    padding-left: 130px;
    padding-right: 130px;

    .tours-sub-photo{
        height: 347px;
        width: 298px;
        // background-color: salmon;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.tours-days{
    max-width: 981px;
    margin: 50px auto 20px auto;

    h1{
        width: 171px;
        border-bottom: black solid 2px;
        font-size: 60px;
        font-family: 'Proxima';
    }

    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        margin-top: 36px;
    }
}

.book-now-button{
    margin: 56px auto 80px auto;
    border-radius: 30px;
    width: 121px;
    height: 40px;
    background-color: $site-blue;
    display: flex;
    justify-content: space-around;

    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $white;
        margin: auto;
    }
}




@media only screen and (max-width: 1220px) {
    .tours-sub-header{
        width: 236px;
        display: block;
        padding-left: 0px;
        padding-right: 0px;

        .tours-sub-photo{
            margin-bottom: 20px;
        }
    }

    .tours-header{
        h2{
            padding-left: 30px;
        }
    }

    .tours-days{
        h1{
            padding-left: 20px;
        }

        p{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}