.tours-hero{
    max-width: 981px;
    min-height: 200px;
    background-image: linear-gradient(to right, $overlay, $overlay), url(../img/tours-header.jpg);
    margin: 50px auto 0px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;

    h1{
        max-width: 300px;
        margin: 0 auto;
        padding-top: 55px;
        text-align: center;

        font-family: Proxima;
        font-size: 60px;
        color: $white;

    }
}


